.add-content {
  padding: 50px 0;
  max-width: 600px;
  margin: 0 auto;
}
.add-content .input-wrapper {
  position: relative;
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 15px 20px;
  border: none;
  border-radius: 999px;
  color: var(--white);
  font-size: 1.2rem;
}
.add-content .input-wrapper input::placeholder {
  font-weight: 400;
  font-family: Lato, sans-serif;
}

