@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --primary: #000002;
  --secondary: #18356d;
  --ternary: #e76044;
  --grey: #dce1eb;
  --darkgrey: #586586;
  --white: #fff;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

p {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
}
